<div class="main-content">
  <div class="container-fluid">
    <h3>
      <u>Item Presentations</u>
    </h3>
    <div class="row">
      <button mat-fab color="primary" style="margin-left: 1%; margin-bottom: 1%" matTooltip="Create Presentation" (click)="createPresentation()">+</button>
      <mat-progress-bar style="position: sticky;top:0;align-self: flex-start;" *ngIf="loading" style="margin-bottom: 2%;margin-top: 2%;"
      mode="indeterminate"></mat-progress-bar>
      <mat-accordion style="width:100%;" *ngFor="let presentation of presentations">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="right-aligned-header">
            <mat-panel-title class="box-panel-title">
              {{presentation.name}}
            </mat-panel-title>
            <mat-panel-description style="align-self: center">
              {{presentation.type}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div *ngFor="let itemPresentation of presentation.itemPresentations; let itemPresentationIndex = index">
            <div>
              <button mat-raised-button style="left:42%;" matTooltip="Add item(s) to the presentation" (click)="openDialog(presentation,itemPresentationIndex)">Add Item(s)</button>
            </div>
            <span *ngIf="itemPresentation.type == 'DROP_DOWN';else static_content">
              <!--  TODO: DROP_DOWN representation-->
            </span>
            <ng-template #static_content>
              <mat-table #table [dataSource]="itemPresentation.items">
               
                <!-- Active status Column -->
                <ng-container matColumnDef="activate">
                    <mat-header-cell *matHeaderCellDef> ActiveStatus </mat-header-cell>
                    <mat-cell *matCellDef="let item"> 
                        <span *ngIf="item.active">
                          <mat-icon>visibility</mat-icon>
                        </span>
                        <span *ngIf="item.active == false">
                            <mat-icon>visibility_off</mat-icon>
                          </span>    
                    </mat-cell>
                </ng-container>
                <!-- Position Column -->

                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="sku">
                  <mat-header-cell *matHeaderCellDef> Sku </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.sku}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="basePrice">
                  <mat-header-cell *matHeaderCellDef> Base Price </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.basePrice}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="defaultPrice">
                  <mat-header-cell *matHeaderCellDef> Default Price </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.defaultPrice}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tags">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let item">
                    <mat-chip-list>
                      <mat-chip ng-style="parameter.name == 'Veg' && {'background-color':'green'} || parameter.name == 'Nonveg' && {'background-color':'red'}"
                        *ngFor="let parameter of item.parameters">{{parameter.name}}</mat-chip>
                    </mat-chip-list>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="expand">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let item">
                    <button mat-button (click)="edit(item)">Edit/View</button>
                    <mat-icon style="top: 6px;position:relative; cursor: pointer;" (click)="deleteItemFromPresentation(presentation.id,item.id,itemPresentation)">delete</mat-icon>
                  </mat-cell>
                </ng-container>
                 


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row [ngClass]="{'highlight': selectedRowIndexes.indexOf(item.id)!=-1 }" *matRowDef="let item ; columns: displayedColumns;"></mat-row>
              </mat-table>
            </ng-template>
          </div>

        </mat-expansion-panel>
      </mat-accordion>


    </div>
  </div>
</div>