.ui-organizationchart	{
    margin-left: 10% !important;
}

.defaultItem{
    color: black; 
}

.department-cto {
    background-color: #FF6347;
    color: #ffffff;
}

.department-cto .ui-node-toggler {
    color: #8a0a39 !important;
}


.inactive-item {
    background-color: #95a5a6;
    color: #ffffff;
}

.inactive-item .ui-node-toggler {
    color: #7f8c8d !important;
}