<div class="main-content">
  <div class="container-fluid">
    <mat-progress-bar style="position: sticky;top:0;align-self: flex-start;" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-card>
      <mat-card-title>Create Combo Item</mat-card-title>
      <mat-card-content>
        <div class="row" style="margin-bottom: 5%">

          <div class="col-md-4">
            <ng-container *ngIf="addItemShow">
              <button mat-flat-button (click)="openItemDialog(false)">Add Item</button>
            </ng-container>
            <ng-container *ngIf="addOptionShow">
              <button mat-flat-button (click)="openOptionDialog(false)">Add Option</button>
            </ng-container>
            <ng-container *ngIf="selectedParentProp && addItemShow">
              <button mat-flat-button (click)="openOptionDialog(true)">Edit Option</button>
            </ng-container>
            <ng-container *ngIf="selectedParentProp && addOptionShow">
              <button mat-flat-button (click)="openItemDialog(true)">Edit Item</button>
              <mat-checkbox style="margin-left: 3%" [(ngModel)]="selectedParentProp.defaultItem" (change)="addStyle(selectedParentProp)">Set as Default Item</mat-checkbox>
            </ng-container>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="Select Store" [(ngModel)]="selectedShopId" [disabled]="editComboFromPresentation">
                <mat-option *ngFor="let store of stores" [value]="store.shopId">
                    {{store.shopName + ' ' + store.shopAddress}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <ng-container *ngIf="selectedParentProp && addItemShow">
              <button mat-flat-button (click)="removeItemOrOption()" style="float:right;">Remove Option</button>
            </ng-container>
            <ng-container *ngIf="selectedParentProp && addOptionShow">
              <button mat-flat-button (click)="removeItemOrOption()" style="float:right;">Remove Item</button>
            </ng-container>
          </div>
        </div>

        <div class="row" style="overflow-x: scroll">
          <p-organizationChart [value]="props" selectionMode="single" [(selection)]="selectedParentProp" (onNodeSelect)="selectedPropViaEvent($event)">
            <ng-template let-node pTemplate="ITEM">
              <span style="font-weight:bold">{{node.name}}
              </span>
            </ng-template>
            <ng-template let-node pTemplate="OPTION">
              <span>{{node.name}}
              </span>
            </ng-template>

          </p-organizationChart>
        </div>
        <div style="margin-top: 5%" *ngIf="props.length>0">
          <button mat-flat-button (click)="saveProps()">Save changes</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>