<div class="container-fluid">
    <form [formGroup]="itemForm" (ngSubmit)="saveItem()">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput formControlName="name" placeholder="Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="description" placeholder="Description">
                </mat-form-field>
                <mat-form-field>
                    <input type="number" matInput formControlName="mrp" placeholder="MRP">
                </mat-form-field>

                <mat-form-field>
                        <input type="number" matInput formControlName="basePrice" placeholder="Base Price">
                </mat-form-field>

            </div>
            <div class="col-md-6">

                <mat-form-field>
                    <input matInput formControlName="barcodeId" placeholder="Barcode Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="sku" placeholder="SKU">
                </mat-form-field>
                <mat-form-field>
                        <input matInput formControlName="hsncode" placeholder="HSNCODE">
                </mat-form-field>
                <mat-form-field>
                        <input type="number" matInput formControlName="cgst" placeholder="CGST%">
                </mat-form-field>
                <mat-form-field>
                        <input type="number" matInput formControlName="sgst" placeholder="SGST%">
                </mat-form-field>

            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <input type="tags" matInput formControlName="tags" placeholder="Tags(Press space to add)" (keyup)="addTags($event)" />
                </mat-form-field>

                <p *ngFor="let itemTag of itemTags">{{itemTag.name}}
                    <mat-icon style="cursor: pointer;" (click)="deleteTag(itemTag)">delete</mat-icon>
                </p>

            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" mat-raised-button color="primary">Save</button>
        </div>
    </form>
</div>