<div class="main-content" style="margin-top: 0">
  <h3>Add New Item</h3>
  <hr>
  <div class="container-fluid">
    <form [formGroup]="itemForm" (ngSubmit)="saveItem()">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="description" placeholder="Description">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="barcodeId" placeholder="Barcode Id">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="sku" placeholder="SKU">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="shopId" placeholder="ShopId">
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput formControlName="basePrice" placeholder="Base Price">
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="sellingType" placeholder="Selling Type">
              <mat-option value="OPEN">OPEN</mat-option>
              <mat-option value="HIDDEN">HIDDEN</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input type="text" formControlName="optionSearch" matInput placeholder="Select an option" (keyup)="searchOption($event)"
              [matAutocomplete]="auto">
            <span></span>
          </mat-form-field>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption($event)" [displayWith]="displayOption">
            <mat-option *ngFor="let option of options" [value]="option">{{option.name}}</mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="submit" mat-raised-button color="primary">Save</button>
        </div>
        <div class="col-md-3">
          <button type="button" mat-raised-button color="primary" (click)="openItemFlow()">View Item Flow</button>
        </div>
        <div class="col-md-6">
          <mat-card class="example-card" *ngIf="selectedOptions.length>0">
            <mat-card-header>
              <mat-card-title>Selected Options</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-list-item class="list-group-item" *ngFor="let option of selectedOptions">{{option.name}}
                  <span>
                    <i class="material-icons" style="cursor:pointer" (click)="removeOption(option.id)">delete</i>
                  </span>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
</div>