<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Expanded View</mat-card-title>
    <mat-card-subtitle>Double click an item to view details</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="selectedNode != undefined && selectedNode.type == 'ITEM'">
      <p>MRP : {{selectedNode.mrp | number : '1.2-2'}} , Selling Price : {{selectedNode.defaultPrice | number : '1.2-2'}}</p>
    </div>
    <tree-root [nodes]="nodes" (focus)="onFocus($event)" [options]="options"></tree-root>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>


<!-- <p>Double click to view details</p>
 -->